.search {
    display: grid;
    grid-gap: 16px;
}

.search__input {
    position: relative;
}

.search__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
